<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="{{ url_for('static', filename='css/base.css') }}" rel="stylesheet">
</head>
<body>
{% import "Bootstrap/wtf.html" as wtf %}
{% block page_content %}
{{ wtf.quick_form(form) }}
{{ user_data }}
<table class="gridtable">
    <tr>
        <th>ID</th>
        <th>用户名</th>
        <th>角色 ID</th>
        <th>操作</th>
    </tr>
    {% for user in user_data %}
    <tr>
        <td>{{ user.id }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.role_id}}</td>
        <td>
            <a href="#">修改</a>
            <a href="#" onclick="delete_data(event)">删除</a>
        </td>
    </tr>
    {% endfor %}
    <tr>
        <th>角色 ID</th>
        <th>角色名</th>
    </tr>
    {% for role in role_data %}
    <tr>
        <td>{{ role.id }}</td>
        <td>{{ role.name }}</td>
    </tr>
    {% endfor %}
</table>

{% endblock %}


</body>
</html>
<script src="{{ url_for('static', filename='js/Jquery/jquery-3.1.0.min.js') }}"></script>
<script>
    function delete_data(evt){
        $.ajax({
            url:'/delete',
            type:'delete',
            dataType:'json',
            success:function(data){
                console.log(data)
            },
            error:function(data){
                alert(data)
            }
        })
        return false


    }

</script>